<div class="container">
  <form class="form">
    <div class="form-header">
      <a class="form-link">back</a>
      <a class="form-link">register</a>
    </div>
    <div class="form-title">
      <h2 class="form-title-name">Login</h2>
    </div>
    <div class="form-inputs">
      <label for="email">Email</label>
      <input type="email" id="email">
      <label for="password">Password</label>
      <input type="password" id="password">
    </div>
    <div class="form-common">
      <a class="form-link">Forgot password?</a>
    </div>
    <div class="form-action-button">
      <button>Login</button>
    </div>
  </form>
</div>
