<div class="container">
  <form class="form">
    <div class="form-header">
      <a class="form-link">back</a>
      <a class="form-link" routerLink="../login">login</a>
    </div>
    <div class="form-title">
      <h2 class="form-title-name">register</h2>
    </div>
    <div class="form-inputs">
      <label for="email">Email</label>
      <input type="email" id="email">
      <label for="password">Password</label>
      <input type="password" id="password">
      <label for="name">Name</label>
      <input type="text" id="name">
      <label for="phone">Phone number</label>
      <input type="number" id="phone">
    </div>
    <div class="form-action-button">
      <button>Register</button>
    </div>
  </form>
</div>
