<div class="tasks-header">
  <h3 class="tasks-header-title">Завдання</h3>
  <button class="tasks-header-btn-add">Добавити завдання</button>
  <button class="tasks-header-btn-filter">Фільтр</button>
  <input class="tasks-header-search" type="search" placeholder="Пошук у завданнях">
</div>
<div class="tasks-filters">
  <button>find</button>
  <button>clear</button>
  <div class="filter-item">
    <label for="">Термін</label>
    <input type="text">
  </div>
  <div class="filter-item">
    <label for="">Статус</label>
    <input type="text">
  </div>
  <div class="filter-item">
    <label for="">Виконавець</label>
    <input type="text">
  </div>
  <div class="filter-item">
    <label for="">Автор</label>
    <input type="text">
  </div>
</div>
<div class="tasks-table">

</div>
