.goods-services-content{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 10px;
  height: 80vh;


  .items-table{

    p-table{

      .table-caption{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5{
          font-size: 1rem;
        }
      }

      tr > th{
        font-size: 14px;
      }
      tr > td {
        font-size: 14px;
      }
    }

  }
}
