.goods-services-content{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-column-gap: 10px;
  height: 80vh;

  .dropdown-category-list{

  }

  .items-table{

    p-table{

      tr > th{
        font-size: 14px;
      }
      tr > td {
        font-size: 14px;
      }
    }

  }
}
