<div class="control-panel">
  <h3 class="control-panel-title">Товари і послуги</h3>
  <button
    class="control-panel-btn"
    (click)="goodsPopUpToggle = !goodsPopUpToggle"
    routerLink="addGood"
    >Товар</button>
  <button
    class="control-panel-btn"
    (click)="goodsPopUpToggle = !goodsPopUpToggle"
    routerLink="addService"
    >Послуга</button>
  <button
    class="control-panel-btn"
    (click)="goodsPopUpToggle = !goodsPopUpToggle"
    routerLink="addKit"
    >Комплект</button>
  <button class="control-panel-btn">Фільтр</button>
  <input class="control-panel-search" type="search" placeholder="Назва, код або артикул">
</div>
<br>
<div class="goods-services-content">

  <!-- Category tree -->
  <div class="dropdown-category-list">
    <p-tree [value]="categoryList"
            selectionMode="single"
            [(selection)]="selectedCategory"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnselect($event)"
    ></p-tree>
  </div>

  <!-- Table of all goods and services -->
  <div class="items-table">

    <p-table
      [resizableColumns]="true"
      styleClass="p-datatable-gridlines"
      [columns]="cols"
      [value]="!itemsArrayToggle ? allItems : filteredItemsByCategory"
      [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" pResizableColumn>
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
<!-- Pop up window for adding the goods, service & kits-->
<div class="pop-up-container" *ngIf="goodsPopUpToggle">
  <div
    class="pop-up-close-block"
    (click)="goodsPopUpToggle = !goodsPopUpToggle"
    routerLink="../"
    ></div>
  <div class="pop-up-content">
    <router-outlet></router-outlet>
  </div>
</div>
