<div class="control-panel">
  <h3 class="control-panel-title">Товари і послуги</h3>
  <button
    class="control-panel-btn"
    (click)="goodsPopUpToggle = !goodsPopUpToggle"
    routerLink="addGood"
    >Товар</button>
  <button
    class="control-panel-btn"
    (click)="goodsPopUpToggle = !goodsPopUpToggle"
    routerLink="addService"
    >Послуга</button>
  <button
    class="control-panel-btn"
    (click)="goodsPopUpToggle = !goodsPopUpToggle"
    routerLink="addKit"
    >Комплект</button>
  <button class="control-panel-btn">Фільтр</button>
  <input class="control-panel-search" type="search" placeholder="Назва, код або артикул">
</div>
<br>
<div class="goods-services-content">
  <div class="dropdown-category-list">
    There will be category list.
  </div>
  <div class="items-table">
    <table>
      <thead>
        <tr>
          <th class="checkbox"><input type="checkbox" name="checkbox"></th>
          <th>Зображення</th>
          <th>Тип</th>
          <th class="item-name">Назва</th>
          <th>Код</th>
          <th>Артикул</th>
          <th>Од. вим.</th>
          <th>Закупівельна ціна</th>
          <th>Ціна продажу</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allItems">
          <td class="checkbox"><input type="checkbox"></td>
          <td>image</td>
          <td>{{item.type}}</td>
          <td class="item-name">{{item.itemName}}</td>
          <td>{{item.code}}</td>
          <td>{{item.article}}</td>
          <td>{{item.unitOfMeasurement}}</td>
          <td>{{item.purchasePrice | currency}}</td>
          <td>{{item.salePrice | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Pop up window for adding the goods, service & kits-->
<div class="pop-up-container" *ngIf="goodsPopUpToggle">
  <div
    class="pop-up-close-block"
    (click)="goodsPopUpToggle = !goodsPopUpToggle"
    routerLink="../"
    ></div>
  <div class="pop-up-content">
    <router-outlet></router-outlet>
  </div>
</div>
