<div class="sidebar" [ngClass]="sidebarToggle ? 'sidebar-open' : 'sidebar-close'">
  <button class="sidebar-toggle" (click)="sidebarToggleBtn()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      style="fill: rgba(0, 0, 0, 1); transform: ; msfilter: "
    >
      <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
    </svg>
  </button>
  <ul>
    <li routerLink="#"><a href="#">Item</a></li>
    <li routerLink="#"><a href="#">Item</a></li>
    <li routerLink="#"><a href="#">Item</a></li>
    <li routerLink="#"><a href="#">Item</a></li>
    <li routerLink="#"><a href="#">Item</a></li>
    <li routerLink="#"><a href="#">Item</a></li>
  </ul>
</div>
